body {
    background-color: rgb(8, 21, 37);
    font-family: 'Roboto', sans-serif;
    border: 2px solid rgb(255, 255, 255);
    padding: 20px;
}

h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 40px;
}

hr {
    color: rgba(0, 0, 0, 0.874);
}

p {
    color: rgb(208, 208, 208);
}

#Objetivo {
    border: 2px solid rgb(0, 0, 0);
    padding: 20px;
    background-color: #261585;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#Datos .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}

#Datos .dat_texto {
    background-color: #261585;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
    padding: 10px;
    width: 35%;
}

#Datos .dat_imagen {
    width: 300px;
    height: 300px;
    background-size: cover;
    background-position: center center;
}

#Datos .dat_imagen img {
    max-width: 100%;
    height: auto;
}

#Datos .dat_redes {
    background-color: #261585;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
    padding: 10px;
    width: 35%;
    height: 300px;
}

#InfoRonald {
    color: rgb(55, 37, 159);
    font-size: 25px;
    font-weight: bold;
}